<footer class="footer row">
    <nav class="navbar navbar-default footer">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:;">Mvc Çalışması</a>
            </div>

            <div class="navbar-right date"></div>
        </div>
    </nav>

</footer>
