<header class="header-row">
    <nav class="navbar navbar-default">
        <div class="container">
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                <ul class="nav navbar-nav navbar-right navmen">
                    <li id="btnProfile"><a href="#">Profil</a></li>
                    <li class="dropdown">
                        <a id="dLabel2" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" class="dropdown-toggle">Haberler<span class="caret"></span></a>
                        <ul class="dropdown-menu news-app-nav" aria-labelledby="dLabel2">
                            <li id="icHaberler"><a href="">İç Haberler</a></li>
                            <li id="teknolojiHaberleri"><a href="">Teknoloji Haberleri</a></li>
                        </ul>
                    </li>
                    <li id="btnCikis"><a href="#">Çıkış Yap</a></li>
                </ul>

            </div>

        </div>
    </nav>
</header>
