
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/controllers/authController.js"></script>
</head>
<body>
    <div class="container">
        <form id="frmLogin">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="login-mdl">
                    <div class="form-group" runat="server">
                        <label>Email:</label>
                        <input type="text" class="form-control" id="txtUserName" placeholder="Username" name="Username" />
                    </div>
                    <div class="form-group">
                        <label>Şifre:</label>
                        <input type="password" class="form-control" id="txtPassword" name="Password" placeholder="Password" />
                    </div>
                    <a class="forgot-pass-btn" href="javascript:;" title="Şifremi Unuttum">Şifremi Unuttum</a>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" title="Giriş Yap" onclick="authController.login()">Giriş Yap</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </form>
    </div>

</body>
</html>
